/vendor
/proxy
/nbproject
/.idea
Homestead.json
Homestead.yaml
.env
.phpunit.result.cache
/src/Config/BaseConfig.php
.htaccess
.cli-config.php
.composer.lock
app/Providers/DoctrineEntityManagerProvider.php
/app/Providers/DoctrineEntityManagerProvider.php
